[MASTER]
ignore=venv312,.venv,__pycache__,reports

[FORMAT]
max-line-length=100

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    invalid-name
